<footer class="footer">
  <div class="footer-bg">
    <img src="/img/livion-footer-bg.svg" />
  </div>
  <div class="footer-top">
    <svg
      width="100%"
      height="150px"
      viewBox="0 0 20 10"
      preserveAspectRatio="none"
    >
      <polygon fill="#1c1c1c" stroke-width="0" points="0,10 20,10 20,0" />
    </svg>
  </div>
  <div class="footer-body">
    <aside class="menu">
      <ul class="menu-list">
        <li><a>Livion Oy</a></li>
        <li><a>Rantakatu 7</a></li>
        <li><a>67100 Kokkola</a></li>
        <li><a>Finland</a></li>
      </ul>
    </aside>
    <aside class="menu menu2">
      <ul class="menu-list">
        <li><a>> LivionKey-30</a></li>
        <li><a>> LivionKey-1</a></li>
        <li><a>> Tietosuojaseloste</a></li>
      </ul>
    </aside>
    <a class="footer-logo" href="#">
      <img src="/img/livionkey-logo.svg" />
    </a>
  </div>
</footer>

<script src="/app.js"></script>

</body>

</html>
