<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item navbar-logo" href="/">
      <img src="/img/livionkey-logo.svg" />
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>

    {{partial "language" (dict "base" . "is_mobile" true)}}
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      {{ $page := . }}
      {{ range .Site.Menus.main }}
      <a href="{{ .URL | relLangURL }}"
        class="navbar-item{{ if in (lower $page.URL) (lower (.URL | relLangURL)) }} is-active{{ end }}">{{i18n .Name }}</a>
      {{ end }}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        {{partial "language" (dict "base" .)}}
      </div>
    </div>
  </div>

  {{if or (or (eq .Type "livionkey-30") (eq .Type "livionkey-1"))}}
  {{ $.Scratch.Set "menu_range" .Site.Menus.livionkey30 }}

  {{if eq .Type "livionkey-1"}}
  {{ $.Scratch.Set "menu_range" .Site.Menus.livionkey1 }}
  {{end}}

  <div class="navbar-addon">
    {{ $page := . }}
    <a href="{{.Type | relLangURL}}"
      class="addon-item{{ if eq (printf `%s/` (lower (.Type | relLangURL))) (lower $page.URL) }} is-active{{ end }}">{{i18n "introduction"}}</a>
    {{ range $.Scratch.Get "menu_range" }}
    <a href="{{ .URL | relLangURL }}"
      class="addon-item{{ if eq (lower (.URL | relLangURL)) (lower $page.URL) }} is-active{{ end }}">
      {{ i18n .Name}}</a>
    {{ end }}
  </div>
  {{ end }}
</nav>