<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item navbar-logo" href="#">
      <img src="/img/livionkey-logo.svg" />
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    <div class="buttons buttons-mobile">
      <div class="select is-rounded is-small">
        <select>
          <option>FI</option>
          <option>SV</option>
        </select>
      </div>
    </div>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a href="/livionkey-30" class="navbar-item{{if in .URL `/livionkey-30/`}} is-active{{ end }}">LivionKey-30</a>
      <a href="/livionkey-1" class="navbar-item{{if in .URL `/livionkey-1/`}} is-active{{ end }}">LivionKey-1</a>
      <a href="/compare" class="navbar-item{{if eq .URL `/compare/`}} is-active{{ end }}">Vertaile</a>
      <a href="/support" class="navbar-item{{if eq .URL `/support/`}} is-active{{ end }}">
        Tuki
      </a>
      <a href="/contact" class="navbar-item{{if eq .URL `/contact/`}} is-active{{ end }}">
        Yhteystiedot
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <div class="select is-rounded is-small">
            <select>
              <option>FI</option>
              <option>SV</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{if in .URL "livionkey-"}}
  <div class="navbar-addon">
    {{if or (or (eq .URL `/livionkey-30/`) (eq .URL `/livionkey-1/`)) }}
    <div class="addon-item is-active">
      <a href="/{{.Type}}/">Esittely</a>
    </div>
    {{else}}
    <div class="addon-item">
      <a href="/{{.Type}}/">Esittely</a>
    </div>
    {{end}}

    <div class="addon-item{{if in .URL `/info/`}} is-active{{end}}">
      <a href="/{{.Type}}/info">Tekniset Tiedot</a>
    </div>
    <div class="addon-item{{if in .URL `/software/`}} is-active{{end}}">
      <a href="/{{.Type}}/software">Ohjelmisto</a>
    </div>
  </div>
  {{ end }}
</nav>