<div class="row">
    <div class="columns is-centered single">
        <div class="column">
            <div class="posts">
                <div class="posts-heading">{{i18n "news"}}</div>
                <div class="posts-content">
                    {{ range first 2 .Pages}}
                    <div class="post">
                        <div class="post-title">
                            <h2 class="subtitle">{{.Title}}</h2>
                            <span class="date"> -- {{ .Date.Format "2006-01-02 11:11" }} --</span>
                        </div>
                        <div class="post-body">
                            {{.Content}}
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>