.form {
    display: grid;
    margin: 0 auto;
    margin-top: 4rem;
    min-width: 400px;
    position: relative;
    width: 40vw;
}

.form .title{
    text-align: center;
}

.form .button{
  font-family: "PT Sans Caption", sans-serif;
  font-size: 15pt;
  letter-spacing: 0.5pt;
  line-height: 0pt;
  padding: 2rem 3rem !important;
  width: auto;
  display: flex;
  margin-left: auto;
}