{{ define "main" }}
<div class="row top">
    <div class="row-bg">
        <svg width="100%" height="100%" viewBox="0 0 20 10" preserveAspectRatio="none">
            <polygon fill="#1c1c1c" stroke-width="0" points="0,6 20,10 20,0 0,0" />
        </svg>
    </div>
    <div class="columns is-centered single">
        <div class="column">
            <div class="text-block">
                <h1 class="heading">{{.Title}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="row contact-row">
    {{ range.Params.persons }}
    {{partial "person_card" .}}
    {{ end }}
</div>
{{ end }}