{{ define "main" }}

<!-- rows-->
{{ $.Scratch.Set "i" 0 }}
{{ range.Params.sections }}
{{ $.Scratch.Set "i" (add ($.Scratch.Get "i") 1) }}
<div {{ if eq ($.Scratch.Get "i" ) 1 }}class="row top"{{else}}class="row"{{end}}>
    {{ if eq ($.Scratch.Get "i" ) 1 }}
    <div class="row-bg">
        <svg
            width="100%"
            height="100%"
            viewBox="0 0 20 10"
            preserveAspectRatio="none"
        >
            <polygon fill="#1c1c1c" stroke-width="0" points="0,6 20,10 20,0 0,0" />
        </svg>
    </div>
    {{end}}
    <div class="columns is-centered">
        {{ range.columns }}
        <div class="column">
            <!-- image -->
            {{if isset . "url"}}
            <img src="{{ .url }}" alt="{{ .alt }}" />
            {{ end }}

            <!-- text -->
            {{ if or (or (isset . "heading") (isset . "body"))}}
            <div class="text-block">
                {{ if isset . "heading"}}
                <h1 class="heading">{{.heading}}</h1>
                {{ end }}

                {{if isset . "body"}}
                <div class="content">
                    {{.body}}
                </div>
                {{ end }}
            </div>
            {{ end }}

            <!-- button -->
            {{ if isset . "link"}}
            <div class="text-block has-text-centered">
                <a href="{{.link}}" class="button is-success is-rounded">Ota yhteyttä</a>
            </div>
            {{ end }}
        </div>
        {{ end }}
    </div>
</div>
{{ end }}
{{ end }}
