{{ define "main" }}
<div class="row top">
    <div class="row-bg">
        <svg width="100%" height="100%" viewBox="0 0 20 10" preserveAspectRatio="none">
            <polygon fill="#1c1c1c" stroke-width="0" points="0,6 20,10 20,0 0,0" />
        </svg>
    </div>
    <div class="columns is-centered single">
        <div class="column">
            <div class="text-block">
                <h1 class="heading">{{.Params.Title}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="row contact-row">
    {{partial "person_card" .Params.person}}
</div>
<div class="row">
    <div class="columns">
        <div class="column">
            <div class="text-block">
                <h1 class="heading">{{.Params.instructions.heading}}</h1>
                <div class="content">
                    <a class="link" href="{{.Params.instructions.link.url}}"> - {{.Params.instructions.link.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="columns">
        <div class="column">
            <div class="text-block">
                <h1 class="heading">{{.Params.conditions.heading}}</h1>
                <div class="content">
                    <a class="link" href="{{.Params.conditions.link1.url}}"> -
                        {{.Params.conditions.link1.name}}</a><br />
                    <a class="link" href="{{.Params.conditions.link2.url}}"> - {{.Params.conditions.link2.name}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}